section#home {
   --bg-position: 0 70%;
   --bg-filter: brightness(0.7);
   align-items: flex-start;

   .page-title {
      color: var(--clr-f-100);
      h2 {
         font-weight: var(--f-light);
         font-weight: 2.8em;
         text-transform: uppercase;
      }
      h1 {
         font-family: "AbhayaLibre";
         font-size: 3.5rem;
         font-weight: var(--f-bold);
      }
   }
}

section#tours-list {
   background-color: var(--clr-base);
}

@keyframes fadeInLeft {
   0% {
      opacity: 0;
      translate: calc(1%);
   }
   100% {
      opacity: 1;
      translate: 0%;
   }
}

.our-tours-description {
   width: 60%;
   font-size: 1.1em;
   text-align: center;
   color: var(--clr-f-500);

   p:first-child {
      font-weight: var(--f-medium);
   }
}

.tours-list-wrapper {
   display: flex;
   flex-direction: column;
   gap: 4ch;
   width: 100%;

   .tours-list-filter {
      display: grid !important;
      grid-template-columns: repeat(4, 1fr);
      gap: inherit;

      button {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 2ch;
         padding: 2ch;
         background-color: color-mix(in srgb, var(--clr-base), grey 10%);
         border: none;
         color: var(--clr-f-700);
         font-weight: var(--f-normal);
         font-size: 1.1em;
         transition: 0.2s ease;
         cursor: pointer;

         & > * {
            pointer-events: none;
         }

         img {
            width: 150px;
         }
      }

      button.active {
         background-color: var(--clr-green);
         color: var(--clr-f-100);
      }

      button:is(:hover, :focus-visible) {
         background-color: color-mix(in srgb, var(--clr-green-lt), grey 10%);
      }
   }

   .tours-list-items-wrapper {
      --block-fade-height: 6em;
      position: relative;
      padding-inline: 2ch;
      margin-inline: -2ch;
      /* margin-block: calc(var(--block-fade-height) * -1); */

      .tours-list-items {
         max-height: 100svh;
         overflow-y: auto;
         overflow-x: hidden;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         padding-block: var(--block-fade-height);
         padding-inline: 2ch;
         margin-inline: -2ch;
         align-items: center;
         gap: 3ch;

         .card {
            /* --offset: 1s; */
            box-shadow: 0 6px 15px hsla(0, 0%, 0%, 0.1);
            opacity: 0;
            animation: fadeInLeft 1s cubic-bezier(0.15, 0.45, 0, 1) forwards;
            animation-delay: var(--offset);
            display: flex;
            width: 100%;

            img {
               width: min(500px, 45%);
               object-fit: cover;
            }

            .card-info {
               display: flex;
               flex-direction: column;
               gap: 1.5em;
               padding: 1.5em;

               h3 {
                  font-family: "AbhayaLibre";
                  font-size: 2.5rem;
               }

               h4 {
                  font-weight: var(--f-normal);
                  color: color-mix(in srgb, var(--clr-f-500), var(--clr-f-700));
               }

               p {
                  font-weight: var(--f-normal);
                  color: var(--clr-f-700);
               }

               span {
                  font-weight: var(--f-light);
                  color: var(--clr-f-500);
                  text-align: right;
                  font-size: .9em;
               }

               .type {
                  text-transform: uppercase;
                  margin-bottom: 0.3em;
                  font-size: .8em;
               }

               .price {
                  background-color: var(--clr-green);
                  width: fit-content;
                  padding: 0.2em 0.6em 0.1em;
                  color: white;
                  font-family: "AbhayaLibre";
                  font-size: 1.2em;
               }

               .desc {
                  padding-left: 1em;
                  border-left: solid 2px
                     color-mix(in srgb, var(--clr-f-100), var(--clr-f-300));
               }

               .starCount {
                  display: flex;
                  gap: 0.3em;
                  align-items: center;
                  font-size: 1.5em;
               }

               .star {
                  height: 1em;
                  width: 1em;
                  border-radius: 100%;
                  border: solid 2px var(--clr-green);

                  position: relative;

                  &.filled::before {
                     content: "";
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     translate: -50% -50%;
                     height: 0.5em;
                     width: 0.5em;
                     background-color: var(--clr-green);
                     border-radius: 100%;
                  }
               }
               .opinionCount {
                  font-size: 0.7em;
                  color: var(--clr-f-300);
               }

               .row {
                  display: flex;
                  justify-content: space-between;

                  .col:nth-of-type(2) {
                     display: flex;
                     flex-direction: column;
                     align-items: end;
                  }
               }
            }
         }
      }

      &::before {
         content: "";
         position: absolute;
         z-index: 1;
         bottom: 0;
         left: 0;
         pointer-events: none;
         background-image: linear-gradient(
            to bottom,
            transparent,
            var(--clr-base) 100%
         );
         width: 100%;
         height: var(--block-fade-height);
      }
      &::after {
         content: "";
         position: absolute;
         z-index: 1;
         top: 0;
         left: 0;
         pointer-events: none;
         background-image: linear-gradient(
            to bottom,
            var(--clr-base) 0%,
            transparent
         );
         width: 100%;
         height: var(--block-fade-height);
      }
   }
}

.experiences-container {
   --gap: 1em;
   font-size: 1rem;
   display: flex;
   gap: var(--gap);
   width: 100%;

   .row {
      display: flex;
      width: 100%;
      gap: var(--gap);
   }
}
.experience-card {
   position: relative;
   display: flex;
   align-items: flex-end;
   width: 100%;
   aspect-ratio: 1 / 1.6;
   border-image: linear-gradient(
         hsla(0, 0%, 0%, 0) 20%,
         hsla(0, 0%, 0%, 0.75) 85%
      )
      fill 1;
   color: var(--clr-f-100);
   transition: 0.3s ease-out;

   img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
   }
}
.experience-card:hover {
   border-image: linear-gradient(
         hsla(0, 0%, 0%, 0.8) 20%,
         hsla(0, 0%, 0%, 0.8) 85%
      )
      fill 1;
}
.experience-card .content {
   font-family: "Abhaya";
   padding: 1em;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.2em;

   & > p {
      font-size: 1.8em;
   }

   & > span {
      padding: 0.2em 0.8em 0.1em;
      font-size: 1em;
      color: white;
      background-color: var(--clr-green-dk);
   }
}
.experience-card.highlighted {
   padding-bottom: 2em;
   border-image: linear-gradient(hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8))
      fill 1;

   .details {
      font-family: "OpenSans";
      display: flex;
      flex-direction: column;
      gap: 0.5ch;
      margin-top: 0.6em;
      p {
         font-weight: var(--f-thin);
         font-size: 0.95em;
      }
      span {
         font-size: 0.9em;
      }
   }
}

@media only screen and (max-width: 1024px) {
   .tours-list-filter {
      gap: 2ch !important;
      font-size: 0.8rem;

      button {
         padding: 1ch;
      }

      img {
         width: 70px !important;
      }
   }
   .tours-list-items {
      .card {
         flex-direction: column !important;

         img {
            width: 100% !important;
            max-height: 200px;
         }
      }
   }
}

@media only screen and (max-width: 768px) {
   .our-tours-description {
      width: 100%;
   }
   .tours-list-filter {
      grid-template-columns: repeat(2, 1fr) !important;

      img {
         display: none;
      }
   }
   .starCount {
      font-size: 1.2em !important;
   }

   .card {
      h3 {
         font-size: 1.5em !important;
      }
   }
}

@media only screen and (max-width: 524px) {
   .experiences-container {
      .row {
         flex-direction: column !important;
      }
      .experience-card {
         max-height: 250px;
      }
   }
}
