---
import "../styles/private-tours.css";
import Main from "../layouts/MainLayout.astro";
import { Picture } from "astro:assets";
---

<Main title="Ecotour | Private Tours">
   <section class="parallax" id="home">
      <div class="grunge-border btm"></div>

      <div class="page-title">
         <h2>ONE ISLAND - TWO FACES</h2>
         <h1>Hispaniola</h1>
      </div>
   </section>
   <section id="book">
      <div class="grunge-border btm"></div>

      <div class="book-container">
         <div class="title">
            <!-- <img src="/images/destinations/calendar.png" alt="" /> -->
            <div class="section-title">
               <h2>Book Now</h2>
               <h2>Lorem ipsum dolor sit</h2>
            </div>
         </div>
         <button class="btn invert">
            <span>Check the dates</span>
            <div class="btn-ripple"></div>
         </button>
      </div>
   </section>
</Main>
