---
import "/src/styles/global.css";

const { title = "Ecotour" } = Astro.props;
---

<head>
   <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta
      name="description"
      content="Ecotour barahona destinations and tour list information."
   />
   <meta http-equiv="X-UA-Compatible" content="IE=7" />
   <meta name="Generator" content={Astro.generator} />

   <title>{title}</title>

   <link rel="icon" href="/assets/favicon/favicon.ico" type="image/x-icon" />
   <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png" />
   <script src="/src/scripts/main.js"></script>
   <link rel="stylesheet" href="/assets/fontawesome/css/all.css" />

   <meta property="og:title" content="Ecotour" />
   <meta
      property="og:description"
      content="Discover with EcoTour Barahona, your specialist in Ecotourism a new face of the Dominican Republic, more human, more authentic!"
   />
   <meta property="og:image" content="" />
   <meta property="og:url" content="" />
</head>
