---
import "/src/styles/main.css";
---

<head>
   <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="IE=7" />

   <title>Ecotour</title>

   <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css"
   />
   <link rel="icon" href="/assets/favicon/favicon.ico" type="image/x-icon" />
   <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png" />
   <slot name="scripts" />

   <meta property="og:title" content="Ecotour" />
   <meta
      property="og:description"
      content="Discover with EcoTour Barahona, your specialist in Ecotourism a new face of the Dominican Republic, more human, more authentic!"
   />
   <meta property="og:image" content="" />
   <meta property="og:url" content="" />
   <script src="/src/scripts/main.js"></script>
</head>
