---
import { Picture } from "astro:assets";

import Logo from "/src/assets/images/logo/full.png";

const { active } = Astro.props;
---

<header>
   <div class="segmant">
      <nav>
         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/destinations/">Destinations</a></li>
            <li class="tours">
               Tours <i class="fa-solid fa-chevron-down"></i>
               <div class="dropdown">
                  <ul>
                     <li><a aria-label="Tours list link" href="/tours-list">Tours List</a></li>
                     <li><a aria-label="Single tours link" href="/single-tours">Single Tours</a></li>
                     <li><a aria-label="Private tours link" href="/private-tours">Private Tours</a></li>
                  </ul>
               </div>
            </li>
         </ul>
      </nav>
   </div>
   <div class="segmant">
      <div class="logo">
         <Picture
         src={Logo}
         alt="Ecotour Logo"
         formats={["webp"]}
         loading="eager"
         />
      </div>
   </div>
   <div class="segmant">
      <button class="btn outline"
      ><i class="fa-solid fa-phone"></i> Get in touch</button
      >
   </div>
   <div class="segmant">
      <div class="toggle">
         <div class="line"></div>
         <div class="line"></div>
         <div class="line"></div>
      </div>
   </div>
</header>
<style is:global>
   @keyframes nav-transition {
      0% {
         background-color: transparent;
         color: var(--clr-f-100);
      }
      100% {
         background-color: var(--clr-base-lt);
         color: var(--clr-f-700);
      }
   }
   header {
      --padding-b: 1rem;
      background-color: var(--clr-base-lt);
      color: var(--clr-f-700);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--padding-b) var(--padding-i);
      gap: 2ch;
      height: 80px;
      /* animation: nav-transition 0.5s linear forwards;
      animation-timeline: scroll(y);
      animation-range: 0 20svh; */
      z-index: 10;

      .segmant {
         width: 100%;
         height: 100%;
      }

      .segmant:nth-of-type(1) {
         display: flex;
         align-items: center;
         justify-content: left;
      }
      .segmant:nth-of-type(2) {
         display: flex;
         align-items: center;
         justify-content: center;
      }
      .segmant:nth-of-type(3) {
         display: flex;
         align-items: center;
         justify-content: right;
      }
      .segmant:nth-of-type(4) {
         display: none;
      }

      nav {
         & > ul {
            display: flex;
            gap: 3ch;
            font-size: 1.2em;

            font-weight: var(--f-light);
            li {
               list-style: none;

               a {
                  position: relative;
                  text-decoration: none;
                  color: inherit;
                  display: block;

                  &::before {
                     content: "";
                     position: absolute;
                     bottom: -3px;
                     height: 2px;
                     width: 0%;
                     left: 0%;
                     background-color: var(--clr-green);
                     transition: 0.15s ease-out;
                  }

                  &:hover::before {
                     width: 100%;
                     transition: 0.5s cubic-bezier(0.2, 0.9, 0, 1);
                  }
               }
            }

            li.tours {
               position: relative;
               display: flex;
               align-items: center;
               gap: 0.5ch;
               cursor: default;

               & > i {
                  transition: 0.15s ease;
                  rotate: -90deg;
                  font-size: 0.6em;
                  margin-top: 0.2em;
                  color: var(--clr-f-300);
               }

               .dropdown {
                  --offset: 2.5ch;
                  position: absolute;
                  padding-top: calc(1.5ch + var(--offset));
                  margin-top: calc(var(--offset) * -1);
                  visibility: hidden;
                  opacity: 0;
                  width: max-content;

                  left: -0.75ch;
                  top: 7ch;
                  transition: 0.15s ease-out;

                  ul {
                     font-size: 0.9em;
                     position: relative;
                     border: solid 1px
                        color-mix(
                           in srgb,
                           var(--clr-f-100),
                           var(--clr-f-300) 30%
                        );
                     color: var(--clr-f-700);
                     background-color: color-mix(
                        in srgb,
                        var(--clr-base-lt),
                        transparent 3%
                     );
                     display: flex;
                     flex-direction: column;
                     padding: 1.5ch;
                     padding-right: 2.5rem;
                     gap: 1rem;

                     &::before {
                        position: absolute;
                        inset: 0;
                        background-color: hs;
                        filter: blur(10px);
                     }
                  }
               }

               &:hover {
                  .dropdown {
                     top: calc(2ch + var(--offset));
                     visibility: visible;
                     opacity: 1;
                     transition: 0.5s cubic-bezier(0, 1, 0, 1);
                  }

                  i {
                     rotate: 0deg;
                  }
               }
            }
         }
      }

      .logo {
         height: 100%;

         img {
            width: auto;
            height: 100%;
         }
      }

      .toggle {
         display: inline;
         font-size: 1rem;
         position: relative;
         color: var(--clr-green);
         height: 1.6em;
         aspect-ratio: 1 / 1;
         cursor: pointer;
      }
      .toggle .line {
         position: absolute;
         width: 100%;
         height: 3px;
         border-radius: 100vh;
         background-color: var(--clr-green);
         left: 50%;
         translate: -50% 0;
      }
      .toggle .line:nth-child(2) {
         top: 50%;
         translate: -50% -50%;
         transition: 0.05s ease;
      }
      .toggle .line:last-child {
         bottom: 0;
         transition: bottom 0.25s, rotate 0.25s;
      }
      .toggle .line:first-child {
         top: 0;
         transition: top 0.25s, rotate 0.25s;
      }

      .toggle.show .line:nth-child(2) {
         opacity: 0;
         transition: 0.2s ease;
      }
      .toggle.show .line:last-child {
         bottom: 50%;
         translate: -50% 50%;
         rotate: 45deg;
         transition: bottom 0.22s, rotate 0.35s 0.2s;
      }
      .toggle.show .line:first-child {
         top: 50%;
         rotate: -45deg;
         translate: -50% -50%;
         transition: top 0.22s, rotate 0.35s 0.2s;
      }
   }

   @media only screen and (max-width: 1024px) {
      header {
         /* flex-direction: column; */

         .segmant:nth-of-type(3) {
            display: none;
         }
         .segmant:nth-of-type(2) {
            justify-content: right;
         }
      }
   }

   @media only screen and (max-width: 768px) {
      .btn {
         font-size: .9rem;
      }
      .segmant {
         justify-content: center !important;

         &:nth-of-type(3) {
            display: none !important;
         }
      }

      header {
         padding-block: 0.6rem !important;
         height: 60px;
         justify-content: flex-end !important;
      }

      nav {
         & > ul {
            gap: 1.5ch !important;
         }
      }

      .segmant:nth-of-type(1) {
         display: none !important;
      }
      .segmant:nth-of-type(2) {
         justify-content: left !important;
      }
      .segmant:nth-of-type(4) {
         display: flex !important;
         justify-content: right !important;
         align-items: center;
      }
   }
</style>
